<package-def>
	<class name="vServer" file="src/vServer.os"/>
	<class name="vHttpЗапрос" file="src/vHttpЗапрос.os"/>
	<class name="vHttpОтвет" file="src/vHttpОтвет.os"/>
	<class name="vHttpRouter" file="src/vHttpRouter.os"/>
	<class name="vHttpTemplate" file="src/vHttpTemplate.os"/>
	
	<class name="КонтроллерDefault" file="src/controllers/Default.os"/>
	<class name="КонтроллерIndex" file="src/controllers/Index.os"/>
	
	<class name="МодельСообщений" file="src/models/message.os"/>
</package-def>