<!DOCTYPE html><html lang='en'>  
	<head>    
		<meta charset='utf-8'>
		<meta http-equiv='X-UA-Compatible' content='IE=edge'>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<meta name='description' content=''>    <meta name='author' content=''>
		<link rel='shortcut icon' href='http://bootstrap-3.ru/assets/ico/favicon.ico'>
		<title>vHttpServer - Пример</title>    <!-- Bootstrap core CSS -->
		<link href='../../resource/bootstrap/css/bootstrap.min.css' rel='stylesheet'>    <!-- Custom styles for this template -->    <link href='http://bootstrap-3.ru/examples/jumbotron/jumbotron.css' rel='stylesheet'>    <!-- Just for debugging purposes. Don't actually copy this line! -->    <!--[if lt IE 9]><script src='../../assets/js/ie8-responsive-file-warning.js'></script><![endif]-->    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->    <!--[if lt IE 9]>      <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script>      <script src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js'></script>    <![endif]-->  
	</head>
	<body>    
		<div class="container">
			<div class="navbar-header">
			  <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a href="http://localhost:1234/" class="navbar-brand">vHttpServer</a>
			</div>
			<nav id="bs-navbar" class="collapse navbar-collapse">
			  <ul class="nav navbar-nav">
				<li>
				  <a href="http://localhost:1234/Index/About">О сервере</a>
				</li>
				<li>
				  <a href="http://localhost:1234/Index/List">Заявки на обслуживание</a>
				</li>
			  </ul>
			</nav>
		</div>
 
		<div class='jumbotron'> 
			<div class='container'>
			<h1>Привет, Мир!</h1>
			<p>Данная страница сформирована при помощи OneScript, и библиотеки vServer.</p>
			<p><a class='btn btn-primary btn-lg' role='button'>Learn more &raquo;</a></p>      
			</div>    
		</div>    
		<div class='container'>
			<!-- Example row of columns -->      
			<div class='row'>        
				<div class='col-md-4'>          
					<h2>Что такое OneScript</h2>          
					<p>Этот проект является альтернативной реализацией виртуальной машины, исполняющей скрипты на языке 1С:Предприятие.
При этом проект является полностью независимым от библиотек 1С и не требует наличия системы 1С:Предприятие на целевой машине.</p>          
					<p><a class='btn btn-default' href='https://bitbucket.org/EvilBeaver/1script/wiki/Home' role='button'>Подробнее &raquo;</a></p>        
				</div>        
				<div class='col-md-4'>          
					<h2>Что такое vHttpServer</h2>
					<p>vHttpServer библиотека классов OneScript, предназначенная для организации однопоточного http сервера</p>
					<p><a class='btn btn-default' href='#' role='button'>Подробнее &raquo;</a></p>       
				</div> 
				<div class='col-md-4'>          
					<h2>Зачем это нужно</h2>         
					<p>Для http сервера сожно найти массу применений, от организации удаленного доступа к заказам, до разработки внутренних сайтов. Лично я использовал его для организации удаленного доступа руководителя с планшета к отчетам в 1С 7.7.</p>    <p><a class='btn btn-default' href='#' role='button'>Подробнее &raquo;</a></p>        
				</div>      
			</div>      
			<hr>      
			<footer> 
			<p>&copy; Company 2014</p>      
			</footer>    
		</div>
		<!-- /container -->    <!-- Bootstrap core JavaScript    ================================================== -->    <!-- Placed at the end of the document so the pages load faster -->    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>    <script src='http://bootstrap-3.ru/dist/js/bootstrap.min.js'></script>  
		</body>
	</html>